**/linux/flutter/ephemeral/**
**/.dart_tool/**
**/.pub-cache/**
**/build/**
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub
**/.idea
**/.vscode
**/.git
**/.gitignore
**/.metadata
**/ios/
**/android/
**/macos/
**/windows/

!linux/
!pubspec.yaml
!lib/
!assets/